.map {
    position: absolute; 
    top: 6.5%; /* offset to provide room for Navbar*/
    bottom: 0;
    width: 100%; /*This will make the map fill the screen regardless of device specifications through the use of % */

}

/* This is code to style the about and form sections' general features like background and text */

.section {
  padding: 20px 70px;
  color:black
}

h1 {
  font-size:larger;
  font-family: serif;
}

h2 {
 font-size: small; 
 font-family: serif;
}

/* This is code to create and style the feedback form, customized from the code provided by W3Schools for this purpose */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  
  input[type=submit] {
    background-color:darkslategray; /* this colour is somber but not too boring */
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color:lightslategrey; /* this helps the user see they are about to click submit */
  }
  
  .container { /* this adds padding for better visual outcome */
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }